@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.gade-exams-page-main-section{
    position: fixed;
    overflow: scroll;
    top:11%;
    right:0%;
   /* width:80.21%;*/
    left: 20%;
    height: 100%;
    font-family: 'Inter', 'sans-serif';
    /* border:1px solid rebeccapurple;  */
    background-color: #F9FAFB;
    
}


.grade-exams-page-main-section-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: 
    #F9FAFB;
    /* border:1px solid blue */
}

.grade-exams-page-main-section-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.25px;
}

.grade-exams-page-top-session-form{
    /* border: 1px solid green; */
    position: relative;
    right:10%;
    top:3vh;
}
.grade-exams-page-top-session-form-label{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}




.grade-exams-page-top-session-form-inputs{
    border:1px gray;
    box-shadow: 0px 2px 8px 0px #00000014;

}

.grade-exams-page-table-title-and-contents{
    
    width:90%;
    height:50vh;
    margin-left:2%;
    /* border: 1px solid red; */

}


.grade-exams-page-table-header-container{
    width:118vh;
    margin-top: 1.3%;
    background-color: 
    #F9FAFB;
    /* border:1px solid gold; */
    
}

.grade-exams-page-table-title{
    color: #667085;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    width:68vh;
    border-bottom:1px solid #667085;

}

.grade-exams-page-table-container{
    margin-top:4%;
    margin-left: 4vh;
    box-shadow: 0px 2px 8px 0px #00000014;
    /* border: 1px solid green; */
    width:118vh;
    /* padding: 1% 2%; */
    background-color: white;
    border-radius: 16px;
    
}

.grade-exams-page-table-contents{
    border-collapse: separate;
    border-spacing: 0 15px;
}

.grade-exams-page-table-header-row{
    /*width:7.15%;*/
    /*height: 1.92%;*/
    /* border:1px solid gold; */
    margin-bottom: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
}

.grade-exams-page-table-header{
    /* border:1px solid purple; */
    margin-right:5vh;
    padding:0px 0px 0px 10px;
}

.grade-exams-page-table-contents{
    border-collapse: collapse;
    /* border: 1px solid orange; */
    border-radius: 16px;
    padding:2vh 0;
}
.grade-exams-page-table-row{
    width:67.91%;
    height:6.9vh;
    border: 1px solid #98A2B3;
    
    padding:0vh 0vh 0vh 5vh;
}


 .grade-exams-page-table-cell{
    width: 33vh;
    height: 5vh;
    /* border: 1px solid palegreen; */
    margin:5px 5px 5px 5px;
    padding:0px 0px 0px 10px;
}

.grade-exams-page-table-button-cell{
    width: 33vh;
    height: 5vh;
    /* border-top: 1px solid black; */
    margin:5px 5px 5px 5px;
    padding:0px 0px 0px 15px;
}
 
.grade-exams-page-table-grade-button{
    border: none;
    border-radius: 10vh;
    background-color: #D0D5DD;
    color: #667085;
    width:14vh;
    height:4.8vh;
    margin-left:2vh ;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}
.grade-exams-page-table-grade-button:hover{
    background-color: #2D00F7;
    color: white;
}
 
.grade-exams-page-table-upload-button{
    border: none;
    border-radius: 10vh;
    background-color: #D0D5DD;
    color: #667085;
    width:14vh;
    height:4.8vh;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
 
}
 
.grade-exams-page-table-upload-button:hover{
    background-color: #2D00F7;
    color: white;
}


.upload-icon{
    height:19px;
    width:19px;
}

