@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.reset-otp-body-wrapper {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: #f9fafb;
}
.reset-otp-app {
  text-align: center;
  width: 441px;
  min-height: 254px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0.5 solid white;
  border-radius: 8px;
}

.reset-otp-header {
  margin-top: 5rem;
  text-align: center;
  font-size: 80px;
  font-style: italic;
  width: 100%;
  height: 110px;
  margin-bottom: 2rem;
}

.reset-otp-header img {
  width: 237px;
  height: auto;
  margin-bottom: -30px;
}

.reset-otp-app h1 {
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-top: -5%;
}

.reset-otp-heading {
  margin-bottom: 2.5rem;
}
.reset-otp-input {
  height: 2.1875rem;
  border: 1px solid #d0d5dd;
  padding: 8px;
  margin-bottom: 1.5rem;
  border-radius: 100px;
  color: linear-gradient(0deg, #d0d5dd, #d0d5dd),
    linear-gradient(0deg, #ffffff, #ffffff);
}
.reset-otp-input::placeholder {
  color: #98a2b3;
}
.reset-otp-label {
  margin-top: 0.3rem;
  font-family: "Inter", "sans-serif";
  font-size: 1rem;
  color: #101828;
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.reset-otp-input-btn {
  width: 100%;
  padding: 10px;
  background-color: rgba(45, 0, 247, 1);
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  height: 44px;
  margin-top: 10px;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.reset-otp-input-btn:hover {
  background-color: black;
}
.check-your-email-text {
  font-size: 14px;
  line-height: normal;
  text-align: center;
}

.check-your-email-link {
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: rgba(45, 0, 247, 1);
  font-weight: 700;
  line-height: normal;
  margin-bottom: .5rem;
}
