@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
}


.header {
    display: flex;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.25px;

}

.header-anchor {
    font-size: 1rem;
    margin: 2rem 0rem 0rem 40rem;
    text-decoration: none;
    color: #000;
}

.header-span {
    color: #2D00F7;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.main-container {
    width: 80%;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20%;
    background-color: #ffffff;
    overflow: auto;
}
.div-for-first-form {
    background-color: #2D00F7;
    margin-left: 1.5rem;

    /* width: 100%; */
    margin: 2rem;
    height: 20rem;
    width: 85%;

    /* @media screen and (max-width: 500px) {
  width: 100%;
  height: ;
  margin-left: 0rem;
} */

}

.first-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 63.8rem;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;

    /* @media screen and (max-width: 500px) {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(6.25rem, 1fr));
          grid-template-columns: 1fr 1fr ;
          flex-wrap: wrap;
          padding: 2px 4px;
          gap: 2px;
          margin: .2rem;
         
      } */
}

.first-form-label {
    font-family: Heebo;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
}

.input-form-1 {
    border: 1px solid #BDBDBD;
    width: 70%;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 12px;
    border-radius: 4px;
    border: 1px;
    gap: 8px;
    background: linear-gradient(0deg, #BDBDBD, #BDBDBD),
        linear-gradient(0deg, #D0D5DD, #D0D5DD);

    /* @media screen and (max-width: 500px) {
      font-size: 10px;
      height: .1vh;
  } */
}

.lower-part-of-first-form {
    font-family: Heebo;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
    margin: 0rem 1.5rem;
    width: 92.5%;
}

.second-p {
    padding: 12px;
    border-radius: 4px;
    border: 1px;
    gap: 8px;
    background: linear-gradient(0deg, #BDBDBD, #BDBDBD),
        linear-gradient(0deg, #D0D5DD, #D0D5DD);
    border: 1px solid #BDBDBD;
    margin: .1rem;
    color: #101828;

}


.div-student-id-section {
    display: flex;
    width: 88%;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3%;
}

.div-student-id-section-p {
    color: #000000;
    /* Headline Medium -24 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 33.6px */
}

.sub-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sub-div-p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.15px;

}

.green-circle {
    border-radius: 50%;
    background-color: #EAECF0;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 9px;
}


.div-for-section-B {

    margin: 0 auto;
    align-items: center;
    width: 40%;


}

#section-p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    color: #101828;

}


.section-span {
    color: #101828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.hr {
    width: 95%;
    height: 1px;
}

#section-p2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 2%;
}

.section-score {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 2rem;
    width: auto;
    margin-top: 2%;
    gap: 0.5rem;
}

.section-score-p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #000000;
    margin-top: 0.2rem;

}

.brown-circle {
    border-radius: 50%;
    background-color: #F2F4F7;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second-formB {
    width: 100%;
    margin-top: 2%;
    margin-left: 9%;
}

.second-formB-p {
    border: 1px solid #98A2B3;
    display: flex;
    width: 810px;
    text-align: center;
    color: #101828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;
    width: 76%;
}

.textarea {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 24px;
    border: 1px solid var(--Main-Text, #101828);
    height: auto;
    width: 76%;
    margin-top: 1rem;
    min-height: 80px;
    resize: none;
    /* Disable textarea resizing */
}

.textarea:focus {
    border-color: rgb(2, 2, 81);
    /* Change border color on focus if needed */
}

.anchor-divB {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1.5rem;
    margin-right: 25%;

}


#first-anchorB {
    text-decoration: none;
    padding: 0rem 2rem;
    color: #004FFF;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#second-anchorB {
    color: #98A2B3;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.button {
    margin: 0rem 1rem;
    border-radius: 8px;
    background: #F2F4F7;
    border: 1px solid #EAECF0;
    color: #98A2B3;
}

#button1 {
    background-color: #2D00F7;
    color: #ffffff;
}