@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.verify-email-body-wrapper {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: #f9fafb;

}
.appEmail {
  text-align: center;
  width: 441px;
  min-height: 254px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0.5 solid white;
  border-radius: 8px;
}

.headerEmail {
  text-align: center;
  font-style: italic;
  width: 30%;
  height: 100px;
  margin: 5rem auto 2rem;
}

.headerEmail img {
  width: 237px;
  height: auto;
  margin-bottom: -30px;
}

.appEmail h1 {
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-top: 1%;
  height: 27px;
}
.verify-email-heading{
  margin-bottom: 3rem;
  text-align: left;
}
.verify-email-input {
  height: 2.1875rem;
  border: 1px solid #d0d5dd;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  border-radius: 100px;
  color: linear-gradient(0deg, #d0d5dd, #d0d5dd),
    linear-gradient(0deg, #ffffff, #ffffff);
    width: 100%;
}
.reset-otp-input::placeholder {
  color: #98a2b3;
}
.verify-email-label {
  margin-bottom: 1rem;
  font-family: "Inter", "sans-serif";
  font-size: 1rem;
  color: #101828;
  text-align: left;
  width: 100%;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.verify-email-input-btn {
  width: 100%;
  padding: 10px;
  background-color: rgba(45, 0, 247, 1);
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  height: 44px;
  margin-top: 10px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;

}

.verify-email-input-btn:hover {
  background-color: rgb(2, 2, 96);
}
