
.student-dashboard-container{
    display: flex;
    width: 100%;
  
}

.student-dashboard-body{
    width: 80%;
    margin-left: 20%;   
}

.heading-dashboard{
    color: #000;
    font-family: "Inter";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: 0.01563rem;
    margin: 2rem auto 2rem;
    width: 90%;
}

  
.enroll-button{
    border-radius: 1.875rem;
    cursor: pointer;
    background: #2D00F7;
    border: none;
    width: 50%;
    text-align: center;
    color: var(--White, #FFF);
    font-family: "Inter";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.00938rem;
    padding: 0.2rem 1rem;
  }

  .student-result-table{
    border-collapse: collapse;
    margin: 1.5rem 0 0 4rem;
    width: 87%;
  }



  .student-result-table-header-item{
    text-align: left;
  }




  .student-result-table-body p{
    white-space: nowrap;
  }

  
  .student-result-table-body{
    display: flex;
    border: 1px solid var(--Grey-400, #98A2B3);
    margin: 1.5rem 0 0 0;
    gap: 9rem;
    padding: 1rem 2rem;
    align-items: center;
  }

  .semester-session-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;


  }

  .semester-div-container{
    color: #667085;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    width: 30%;
    display: flex;
    align-items: center;
  }

  .session-div-container{
    color: #667085;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    width: 80%;
    display: flex;
    align-items: center;
  }


  .session-dropdown .semester-button-default{
    color: #667085;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    border: none;
    padding: 0.5rem;
    width: 100%;
  }


  .session-dropdown .session-button-default{
    color: #667085;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    border: none;
    padding: 0.5rem 1rem;
  }

  .table-row{
    border-collapse: separate;
    border: 1px solid black;
    border-spacing: 0 1rem;
    margin-bottom: 2rem;
  }
  
.student-result-table{
    border-spacing: 0 1rem;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 2rem;
}

