.change-password-container{
    background-color: #f9fafb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: visible;
    justify-content: space-between;
}

.change-password-body{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
}

.change-password-form{
    margin: 8rem auto 8rem;
    width: 40%;
    padding: 2rem 3rem;
    background: var(--White, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.change-password-form h3{
    width: 100%;
    color: var(--Main-Text, #101828);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 

}

.change-password-inner-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;

}


.change-password-inner-form label{
    color: var(--Main-Text, #101828);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

}



.change-password-inner-form input{
    width: 100%;
    border-radius: 100px;
    border: 1px solid var(--Grey-300, #D0D5DD);
    background: var(--White, #FFF);
    padding: 0.8rem 1rem;
    margin-top: 0.4rem;
}


.error-message{
    color: red;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 3px auto;
    height: fit-content;
    
}

.success-message{
    color: green;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 3px auto;
    height: fit-content;

}
