@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.reset-otp-body-wrapper {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: #f9fafb;
  
}

.reset-otp-header {
  text-align: center;
  font-style: italic;
  width: 30%;
  margin: 30px auto 0px;

}

.reset-otp-header img {
  height: auto;
  padding-top: 20px;
}
.reset-otp-app {
  text-align: center;
  width: 30%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0.5 solid white;
  border-radius: 8px;
}


.reset-otp-app h1 {
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 600;
  height: 30px;
  margin-top: 0.2rem;
}

.reset-otp-form{
  padding: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;


}

.reset-otp-heading {
  margin-bottom: 1rem;
}
.reset-otp-input {
  height: 2.75rem;
  border: 1px solid #d0d5dd;
  padding: 1rem;
  border-radius: 100px;
  color: linear-gradient(0deg, #d0d5dd, #d0d5dd),
    linear-gradient(0deg, #ffffff, #ffffff);
    width: 100%;
    margin-bottom: 0rem;
}

.reset-otp-input::placeholder {
  color: #98a2b3;
}

.reset-otp-label {
  margin-top: 0.3rem;
  font-family: "Inter", "sans-serif";
  font-size: 1rem;
  color: #101828;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 600;
}

.reset-otp-input-btn:hover {
  background-color: black;
}

.back-end-login-input-btn {
  border: none;
  background-color: transparent;
  color: #000000;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;

}

.instruction {
  font-size: 14px;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 20px;
}
