
:root {
    --base-font-size: 16px;
  }
  
  .header-bar {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    height: 5.625rem; 
    gap: 2.5rem; 
    border-bottom: 0.0625rem solid var(--Grey-200, #EAECF0); 
    box-shadow: 0px 0.125rem 0.25rem 0px rgba(0, 0, 0, 0.10); 
  }

  .header-bar-text-container{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    align-items: end;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .header-bar img {
    width: 1.5625rem; 

    cursor: pointer;
  }
  
  .header-bar p {
    color: var(--Main-Text, #101828);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.15px;
    padding: 0.1rem;
   
  }
  

