* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
:root {
  --main-font: "Inter", sans-serif;
  --label-font: "Heebo", sans-serif;
  --label-color: rgba(33, 33, 33, 1);
  --placeholder-color: rgba(117, 117, 117, 1);
  --placeholder-font: "Heebo", sans-serif;
  --input-border: rgba(189, 189, 189, 1);
  --button-color: rgba(45, 0, 247, 1);
  --forget-password-color: rgba(21, 112, 239, 1);
}

.main-body-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.inner-body-wrapper {
  height: 90%;
  display: flex;
  width: 100%;
}
.inner-div {
  background-color: green;
}
.university-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--main-font);
  margin-bottom: 0.5rem;
  text-align: left;
  align-self: flex-start;
  color: rgba(238, 117, 108, 0.801);
}
.moto-wrapper {
  color: #fff;
  font-size: 1rem;
  line-height: normal;
}
.login-form-wrapper {
  height: 100%;
  width: 50%;
  min-width: 50%;
  position: relative;
}

.login-form {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 70%;
  background-color: rgba(249, 250, 251, 1);
  padding: 15% 10%;
  text-align: left;
}
.login-form-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  font-family: var(--main-font);
  margin-bottom: 3rem;
}
.field {
  margin-bottom: 1rem;
}

.login-form-input {
  height: 3rem;
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid var(--input-border);
}
.login-form-input::placeholder {
  display: block;
  font-size: 14px;

  font-family: var(--placeholder-font);
  color: var(--placeholder-color);
}

.login-form-label {
  display: block;
  color: var(--label-color);
  font-family: var(--label-font);
  font-size: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.password-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 3rem;
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid var(--input-border);
}

.login-form-password-icon {
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.password_input {
  border: none !important;
  width: 98% !important;
}
.password_input:focus {
  outline: none !important;
}
.login-form-forgot-password {
  color: var(--forget-password-color);
  font-size: 0.9rem;
  line-height: normal;
  margin-bottom: 0.5rem;
}
.sign-in-btn {
  background-color: var(--button-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--main-font);
  border: none;
  border-radius: 100px;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}
.login-form-footer {
  display: flex;
  border-top: 1px solid rgba(52, 64, 84, 1);
  height: 10%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.inner-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.left-footer-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-footer-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right-footer-text-wrapper > p {
  margin-left: 2.5rem;
}
.privacy,
.terms {
  color: var(--forget-password-color);
}
