:root {
  --grey-50: rgba(249, 250, 251, 1);
  --main-text: rgba(16, 24, 40, 1);
  --white: rgba(255, 255, 255, 1);
  --grey-400: rgba(152, 162, 179, 1);
  --grey-200: rgba(234, 236, 240, 1);
  --basicwhite: rgba(255, 255, 255, 1);
  --green-1: rgba(33, 150, 83, 1);
  --primary-500: rgba(0, 79, 255, 1);
  --gray-6: rgba(242, 242, 242, 1);
  --gray-400: rgba(189, 189, 189, 1);
  --primary-400: rgba(60, 138, 255, 1);
  --primary-600: rgba(11, 75, 218, 1);
  --gray-900: rgba(33, 33, 33, 1);
  --secondary-500: rgba(255, 194, 51, 1);
  --gray-600: rgba(117, 117, 117, 1);
  --secondary-400: rgba(255, 206, 92, 1);
  --gray-500: rgba(158, 158, 158, 1);
  --secondary-600: rgba(255, 182, 10, 1);
  --error-500: rgba(244, 67, 54, 1);
  --green-3: rgba(111, 207, 151, 1);
  --error-400: rgba(239, 83, 80, 1);
  --gray-200: rgba(238, 238, 238, 1);
  --error-200: rgba(239, 154, 154, 1);
  --error-600: rgba(229, 57, 53, 1);
  --secondary-200: rgba(255, 231, 173, 1);
  --gray-700: rgba(97, 97, 97, 1);
  --error-300: rgba(229, 115, 115, 1);
  --body-text-normal-16-font-family: "Inter-Regular", Helvetica;
  --body-text-normal-16-font-weight: 400;
  --body-text-normal-16-font-size: 16px;
  --body-text-normal-16-letter-spacing: 0.15000000596046448px;
  --body-text-normal-16-line-height: 139.9999976158142%;
  --body-text-normal-16-font-style: normal;
  --headline-bold-32-font-family: "Inter-Bold", Helvetica;
  --headline-bold-32-font-weight: 700;
  --headline-bold-32-font-size: 32px;
  --headline-bold-32-letter-spacing: 0.25px;
  --headline-bold-32-line-height: 139.9999976158142%;
  --headline-bold-32-font-style: normal;
  --body-text-bold-16-font-family: "Inter-SemiBold", Helvetica;
  --body-text-bold-16-font-weight: 600;
  --body-text-bold-16-font-size: 16px;
  --body-text-bold-16-letter-spacing: 0.15000000596046448px;
  --body-text-bold-16-line-height: 139.9999976158142%;
  --body-text-bold-16-font-style: normal;
  --headline-bold-24-font-family: "Inter-Bold", Helvetica;
  --headline-bold-24-font-weight: 700;
  --headline-bold-24-font-size: 24px;
  --headline-bold-24-letter-spacing: 0px;
  --headline-bold-24-line-height: 139.9999976158142%;
  --headline-bold-24-font-style: normal;
  --button-medium-font-family: "Heebo-Medium", Helvetica;
  --button-medium-font-weight: 500;
  --button-medium-font-size: 14px;
  --button-medium-letter-spacing: 2px;
  --button-medium-line-height: 20px;
  --button-medium-font-style: normal;
  --body-2-regular-font-family: "Heebo-Regular", Helvetica;
  --body-2-regular-font-weight: 400;
  --body-2-regular-font-size: 14px;
  --body-2-regular-letter-spacing: 0px;
  --body-2-regular-line-height: 20px;
  --body-2-regular-font-style: normal;
}

.side-bar-default {
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2d00f7;

  @media screen and (max-width: 768px) {
    display: none;
    transition: ease-in-out 0.5s;
    width: fit-content;
    height: 100vh;
    padding: 16px;
  }
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.logo {
  display: inline-flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;

  /* @media screen and (max-width: 768px) {
       display: inline-block;
    } */
}

.vuesax-bulk-award-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 100px;

  @media screen and (max-width: 768px) {
  }
}

.img-feat {
  background-color: var(--grey-200);
  border-radius: 6px;
  width: 24px;
  height: 24px;
}
.img-2 {
  position: relative;
  width: 24px;
  height: 24px;

  @media screen and (max-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--headline-bold-32-font-family);
  font-weight: var(--headline-bold-32-font-weight);
  color: var(--white);
  font-size: var(--headline-bold-32-font-size);
  letter-spacing: var(--headline-bold-32-letter-spacing);
  line-height: var(--headline-bold-32-line-height);
  white-space: nowrap;
  font-style: var(--headline-bold-32-font-style);

  @media screen and (max-width: 768px) {
    font-size: var(--headline-bold-20-font-size);
  }
}

.divider-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.divider {
  position: relative;
  width: 223px;
  height: 1px;
}

.vector {
  position: absolute;
  /* width: 223px; */
  /* height: 1px; */
  /* top: -1px; */
  /* left: 0; */
  /* object-fit: cover; */
}

.frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-text-normal-16-font-family);
  font-weight: var(--body-text-normal-16-font-weight);
  color: var(--white);
  font-size: var(--body-text-normal-16-font-size);
  letter-spacing: var(--body-text-normal-16-letter-spacing);
  line-height: var(--body-text-normal-16-line-height);
  white-space: nowrap;
  font-style: var(--body-text-normal-16-font-style);
}

.feature-2 {
  display: flex;
  width: auto;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  color: #ffffff;
  @media screen and (max-width: 768px) {
    width: fit-content;
  }
}

.feature-2:hover {
  background-color: var(--white);
  border-radius: 6px;
  margin-left: 1rem;
  color: rgba(0, 79, 255, 1);
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}
.clicked {
  display: flex;
  width: auto;
  background-color: var(--white);
  border-radius: 6px;
  margin-left: 1rem;
  color: rgba(0, 79, 255, 1);
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: .5rem;
}
.text-wrapper-6 {
  font-weight: var(--body-text-normal-16-font-weight);
  color: inherit;
  position: relative;
  width: fit-content;
  font-family: var(--body-text-normal-16-font-family);
  font-size: var(--body-text-normal-16-font-size);
  letter-spacing: var(--body-text-normal-16-letter-spacing);
  line-height: var(--body-text-normal-16-line-height);
  white-space: nowrap;
  font-style: var(--body-text-normal-16-font-style);

  
}

.text-wrapper-6{
  text-decoration: none;
  cursor: pointer;
}
