.footer-component {
  display: flex;
  border-top: 1px solid rgba(52, 64, 84, 1);
  min-height: 5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.optional-footer-background {
  background-color: rgba(24, 73, 169, 1);
  color: #fff;
  border: none;
}
.inner-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.left-footer-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-footer-text-wrapper{
  text-align: center;
}
.right-footer-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right-footer-text-wrapper > p {
  margin-left: 2.5rem;
}
.footer-text {
  line-height: normal;
}
.blue-text {
  color: rgba(21, 112, 239, 1);
}
