.landing-container {
  width: 100vw;
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/landing-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  height: 90%;
}
.landing-page-sectionA {
  width: 60%;
  margin: 0px auto 40px;
  text-align: center;
  margin-top: 2rem;

  @media screen and (max-width: 850px) {
    width: 90%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

.landing-page-title1 {
  width: 65%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-title1 img {
  object-fit: contain;
  height: 80%;
}

.unlock-your-potential {
  margin: 0px auto;
  font-family: "Inter" sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: rgba(250, 197, 21, 1);
}

.landing-page-sectionB {
  width: 33%;
  background-color: white;
  display: flex;
  margin: 0px auto;
  height: auto;
  padding: 20px 60px;
  border-radius: 16px;

  @media screen and (max-width: 850px) {
    width: 60%;

    @media screen and (max-width: 600px) {
      width: 80%;
      padding: 20px 20px;
    }
  }
}

.landing-page-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 16px;
  width: 100%;
  height: auto;
  padding: 40px 0px;
}

.form-label {
  height: 72px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.landing-page-form-label {
  width: 100%;
  height: 22px;
  color: rgba(16, 24, 40, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.form-label select {
  height: 46px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(189, 189, 189, 1);
  background-color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(152, 162, 179, 1);
}

.no-account-register {
  color: #000000;
  font-size: 14px;
  line-height: normal;
  margin-top: 1rem;
}

.register-here {
  color: rgba(45, 0, 247, 1);
}
