.table-section {
    display: flex;
    margin-left: 315px;
    margin-top: 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
    width: 73%;
}


table {

    margin-top: 10px;
    margin-right: 20px;
}

.results-table {
    border-left: 1px solid var(--Grey-300, #D0D5DD); 
}
th{
    white-space: nowrap;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: 0.15px;
}

th, td {
    text-align: left;
    padding: 20px; 
}

td:nth-child(3) {
    white-space: nowrap;
}

