@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.entire-signup-page-container {
  /* position: relative; */
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-body-container {
  display: flex;
  height: 90%;
}

.image-card-section {
  width: 50%;
  position: relative;
}

.signup-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}


.signup-uni-title {
  color: #912018;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.25px;
  text-align: left;
  position: absolute;
  top: 8%;
  left: 7%;
  z-index: 2;
}

.signup-page-title-note {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  position: absolute;
  top: 16%;
  left: 7%;
  z-index: 2;
}

.signup-page-photo {
  width: 100%;
}

.sign-in-redirect {
  text-decoration-line: none;
}


.form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.whole-sign-up-form-container {
  border: 1px;
  width: 60%;
  background-color: #f9fafb;
  box-shadow: 0px 2px 8px 0px #00000014;
  margin: auto auto;
}

.top-sign-in-message {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
  background-color: #f9fafb;
  margin: 1.5rem auto 0rem;
  padding: 0.3rem 1rem;
}

.sign-in-form-container {
  width: 70%;
  margin: 3rem auto 5rem;
  /* gap: 2rem; */
}


.sign-in-form-message {
  text-align: left;
  margin-bottom: 2.5rem;
  

}


.signup-form-labels {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #212121;
  margin-bottom: 0.4rem;

}

.signup-form-inputs {
  border: 1px solid rgba(189, 189, 189, 1);
  border-radius: 4px;
  width: 100%;
  height: 24px;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 4px;

}

.signup-form-inputs ::placeholder{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(117, 117, 117, 1);
  
}

.signup-form-pw-input {
  border: 1px solid rgba(189, 189, 189, 1);
  border-radius: 4px;
  width: 100%;
  height: 24px;
  padding: 12px;
  margin-bottom: 1.5rem;
  
}

.password-icon {
  position: relative;
  right: 318px;
  top: 3px;
}

.signup-horizontal-line {
  position: absolute;
}
