@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.entire-signup-page-container{
    position: relative;
    font-family: "Inter", sans-serif;
    height: 100%;
    width:100%;
}

.main-body-container{
    display: flex;
}

.image-card-section{
    width: 708px;
    height:max-content;
    position: relative;
}
.signup-overlay{
    width: 100%;
    height: 99.3%;
    background-color: rgba(0, 0, 0, 0.6);
    position:absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}


/*
.page-title-container{
    position: absolute;
    top:56px;
    left:48px;
    z-index: 2;
    
}
*/

.signup-uni-title{
    color: #912018;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.25px;
    text-align: left;
    position: absolute;
    top:56px;
    left:48px;
    z-index: 2;
}



.signup-page-title-note{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    position: absolute;
    top:130px;
    left:48px;
    z-index: 2;
}

.signup-page-photo{
    height: 100%;
}

.sign-in-redirect{
    text-decoration-line: none;
}

.whole-sign-up-form-container{
    border: 1px;
    width: 480px;
    height:709px;
    background-color: #F9FAFB;
    position: absolute;
    top:117.5px ;
    left:842px;
    box-shadow: 0px 2px 8px 0px #00000014;
}

.top-sign-in-message{
    width: 252px;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    top: 32px;
    left: 208px;
}

.sign-in-form-container{
    width:320px;
    height: 484px;
    gap:56px;
   
}

.sign-in-form-message{
    text-align: left;
    position: absolute;
    top: 80px;
    left: 80px;
}
.sign-up-form{
    position: absolute;
    top: 132px;
    left:80px;
}

.signup-form-labels{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #212121;
    margin: 1px;
    



}
.signup-form-inputs{
    border: 1px solid grey;
    border-radius: 4px;
    width: 296px;
    height: 24px;
    padding:12px;
    margin: 3px 3px 3px 3px;
    gap: 8px;

}

.signup-form-pw-input{
    border: 1px solid grey;
    border-radius: 4px;
    width: 290px;
    height: 24px;
    padding:12px 0px 12px 30px;
    margin: 3px 3px 3px 3px;
    gap: 8px;
}

.password-icon{
    position: relative;
    right:318px;
    top:3px;

}

.signup-form-submit-button{
    width: 320px;
    height: 48px;
    border-radius: 100px;
    padding: 12px, 16px, 12px, 16px; 
    gap: 8px;
    color: white;
    background-color: #2D00F7;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    margin-top: 20px;
    margin-left: 7px;


}

.signup-horizontal-line{
    position: absolute;
    width: 203%;
}

.signup-footer-contents{  
    border-top: 1px solid grey;
    display:flex;
    justify-content: space-between;
    width: 203%;
    height:100%;
    position: relative;
    margin-top: -6px;
}
.footer-website-name{
position: absolute;
left: 0;
}

.footer-rights-notice{
position: absolute;
left: 45%
}

.footer-links{
display: flex;
justify-content: space-between;
position: absolute;
right: 6%;
}

.signup-page-footer-link{
    margin: 5px;
}


