*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: visible;
}

body {
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
#root {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
}
