
.landing-container{
    width: 100vw;
    height: 95vh;
    padding-top: 30px;
    background-image: url('./assets/landing-background.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.sectionA{
    width: 40%;
    margin: 20px auto 40px;
    text-align: center;
}

.sectionA h1{
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: -0.5px;
    color: white;
    margin-left: 10px;

}

.sectionA h4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(250, 197, 21, 1);

}
.sectionA div:first-child{
    margin: 0px auto 0px;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    width: 50%;
   
}


.logo{
    background-color: white;
    border-radius: 100px;
    width: 40px;
    height: 30px;
    display: flex;
    padding: 8px;
}

.logo img{
    width: 32px;
    height: 32px;
    margin-top: 0px;
    
}

.sectionA div:nth-child(2){
    margin-top: 0px;
    padding-top: 0px;
    margin-top: -3.7em;
}

.sectionB{
    width: 22%;
    display: flex;
    margin: 40px auto;
    height: auto;
    padding: 60px 60px 80px;
    background-color: white;
    border-radius: 16px;
    gap: 32px

}

form{
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 16px;
    width: 100%;
    height: auto;

}

.form-label{
    height: 72px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    width: 100%;
    height: 22px;
    color: rgba(16, 24, 40, 1);
    
}
select{
    height: 46px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(189, 189, 189, 1);
    gap: 8px;
    background-color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: rgba(152, 162, 179, 1);

}

img{
    margin-top: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.footer{
    background-color: rgba(24, 73, 169, 1);
    width: 100%;
    height: 80px;
    padding: 30px, 100px, 28px;
    position: absolute;
    bottom: 0;
   
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 0px auto;
    height: 20px;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    padding: 30px 100px;
}

.footer-container div{
    width: 30%;
    
}
.footer-container div:nth-child(1){
    text-align: left;
}

.footer-container div:nth-child(2){
    text-align: center;
}

.footer-container div:nth-child(3){
    text-align: right;
}



.footer-container span:first-child{
    margin-right: 24px;
    text-align: left;
}




