.enrolled-courses-page-container{
    background-color: #f9fafb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: visible;
    justify-content: space-between;
}


.enrolled-courses-dashboard-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
}

.enrolled-courses-dashboard-header{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: end;
    height: 88px;
    align-items: center;
    padding-right: 5.7%;
    gap: 2rem;
    border-bottom: 1px solid var(--Grey-200, #EAECF0);
    background: var(--White, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    
}


.enrolled-courses-title{
    color: #000;
    font-family: "Inter";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: 0.01563rem;
    margin: 2rem auto 2rem;
    width: 90%;

}


.enrolled-courses-container{
    width: 90%;
    margin: 1rem auto;


}

.enrolled-courses-year{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding: 0.8rem 0;
    margin: 0 auto 1rem ;

}

.enrolled-courses-year select{
    height: 44px;
    padding: 2px 16px;
    gap: 8px;
    color: #667085;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    border: none;
    background-color: #F9FAFB;

}

.enrolled-courses-timetable{
    color: #2D00F7;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: 0.15px;
    margin-bottom: 0rem;
    padding: 0.5rem 0;
    
}


.enrolled-courses-table {
    border-collapse: separate;
    border-spacing: 0 0rem;
    width: 100%;
    text-align: center;
    

  }
  
  .enrolled-courses-table-header {
    padding: 1rem 1rem; 
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: 0.15px; 
    
   
  }

  .enrolled-courses-table tbody td {
    /* padding: 1rem 2rem; */
    border-top: 1px solid #98A2B3;
    border-bottom: 1px solid #98A2B3;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: 0.15px;
    
   
  }

  .enrolled-courses-table tbody td:first-child {
    border-left: 1px solid #98A2B3;
  }

  .enrolled-courses-table tbody td:last-child {
    border-right: 1px solid #98A2B3;
  }
  