.take-exams-instructions-wrapper{
    background-color: #f9fafb; 
    display: flex;
    height: 100vh;
    
}

.exam-instructions-container{
    width: 80%;
    margin-left: 20%;
}

.exam-instructions-body{
    background-color: #F9FAFB;
}

.exam-instructions-body-section1{
    display: flex;
    justify-content: space-between;
}

.exam-instructions-body-title{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.25px;
    padding-top: 1.5rem;
    padding-left: 3rem;
}

.exam-instructions-timer{
    color: white;
    background-color:#D0D5DD;
    width: 15%;
    display: flex;
    justify-content:space-between;
    border-radius: 4px;
    background: var(--Grey-300, #D0D5DD);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.16);
    margin-top: 1.5rem;
    margin-right: 1.3rem;
    padding: 7px 4px;
    text-align: center;
    height: auto;
}

.exam-instructions-timer-minutes{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 49%;
}

.exam-instructions-timer-divider{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding-top: 15px;

}

.exam-instructions-timer-seconds{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 49%;

}

.exam-instructions-timer-minutes div:first-child{
    border-radius: 100%;
    border: 1px solid #F2F4F7;
    padding: 1px;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    
}

.exam-instructions-timer-seconds div:first-child{
    border-radius: 100%;
    border: 1px solid #F2F4F7;
    padding: 1px;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;

}

.exam-instructions-body-section2{
    margin: 2rem auto;
    width: 65%;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.16);
}

.exam-instructions-body-wrapper{
    padding: 2.5rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.exam-instructions-body-wrapper div:first-child{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.25px;
    text-align: center;
    margin-top: 0;
}

.exam-instructions-body-wrapper div:nth-child(2) > ul{
    color: #101828;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.15px;
    margin: 0;
    padding: 0;
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.exam-instructions-body-wrapper-btn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.exam-instructions-body-wrapper-btn div:nth-child(1){
    color: #667085;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}







